@charset "UTF-8";
*{
    padding: 0px;
    margin: 0px;
}
body, html{
    width: 100vw;
    height: 100vh;
    background-color: lightgreen;
}
header{
    height: 100px;
    text-align: center;
    font-family: cursive;
    font-size: 2.0em;
    color: green;
}
menu{
    padding: 10px;
    background-color: green;
}
menu a{
    color: white;
    padding: 10px;
}
menu a:hover{
background-color: darkgreen;
transition: 0.7s;
}
h1{
    padding-top: 20px;
}
h2{
    text-align: center;
}
main{
    
}
div{
    width: 70vw;
    margin: auto;
    background-color: white;
    height: 100%;
}
div#folhagem{
    background-image: url(../imagens/21253507_2107.q703.012.S.m004.c10.house\ plants\ realistic.jpg);
    background-repeat: no-repeat;
    background-size:100%;
    background-position: top center;
    
}
h2{
    padding-top:50px;
    font-family: cursive;
    color: black;
    font-size: 3.0em;
}
div#folhagem p{
    padding: 30px;
}
div#flores{
    background-image: url(../imagens/fundo-floral-com-lindas-flores-cor-de-rosa-e-linha-abstrata_24100-976.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: top center;
}