@charset "UTF-8";
*{
    padding: 0px;
    margin: 0px;
}
body, html{
    width: 100%;
    height: 100%;
    background-color: lightgreen;
}
header{
    height: 150px;
    text-align: center;
    font-family: cursive;
    font-size: 2.0em;
    color: green;
    width: 100%;
}
menu{
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: green;
    width: 100%;
}
menu a{
    color: white;
    padding: 10px; ;
}
menu a:hover{
background-color: darkgreen;
transition: 0.7s;
}
h1{
    padding-top: 20px;
}
h2{
    text-align: center;
}
main{
    width: 100%;
}
div{
    width: 100%;
    margin: auto;
    background-color: white;
    height: 100%;
    text-align: center;
    background-repeat: no-repeat;
    background-size:100% 100%;
    background-position: top center;
    height: 100%;
    background-attachment: fixed;
}
div#folhagem{
    background-image: url(../imagens/fundo-folhagem.jpg);
    
}
h2{
    padding-top:50px;
    font-family: cursive;
    color: black;
    font-size: 3.0em;
}
 p{
    
}
div#flores{
    background-image: url(../imagens/fundo-flores.jpg);
}
img.imagem{
    margin: auto;
    border-radius: 50%;
    width: 250px;
    height: 250px;
    display: block;
    padding-top: 20px;
}
@media screen and (min-width: 1100px){
    div{
        background-size:contain;
        background-color: lightgreen;
    }
}