@charset "UTF-8";
*{
    padding: 0px;
    margin: 0px;
}
body, html{
    width: 100vw;
    height: 100vh;
    background-color: lightgreen;
}
header{
    height: 100px;
    text-align: center;
    font-family: cursive;
    font-size: 2.0em;
    color: green;
}
menu{
    padding: 10px;
    background-color: green;
}
menu a{
    color: white;
    padding: 10px;
}
menu a:hover{
background-color: darkgreen;
transition: 0.7s;
}
h1{
    padding-top: 20px;
}
h2{
    text-align: center;
}
main{
    
}
div{
    width: 100vw;
    margin: auto;
    background-color: white;
    height: 100%;
}
div#folhagem{
    background-image: url(../imagens/—Pngtree—small\ clear\ hand\ drawn\ minimalist_948703.jpg);
    background-repeat: no-repeat;
    background-size:100% 100%;
    background-position: top center;
    height: 100%;
    background-attachment: fixed;
}
h2{
    padding-top:50px;
    font-family: cursive;
    color: black;
    font-size: 3.0em;
}
 p{
    padding: 30px;
}
div#flores{
    background-image: url(../);
    background-repeat: no-repeat;
    background-size:100% 100%;
    background-position: top center;
    height: 100%;
}