@charset "UTF-8";
body{
    background-image: url(imagens/fundo-madeira.jpg);
    background-size: cover;
    background-attachment: fixed;
}
div#iphone{
    position:absolute;
    top: 50vh;
    left: 40vw;
}
div#botoes{
    
}
div#botoes > img{
    width: 50px;
}
div#tela{
position: relative;
top: 40vh;
left: 43vw;
}
div#tela > img{
    width: 270px;
    
}