@charset "UTF-8";
body{
    background-image: url(imagens/fundo-madeira.jpg);
    background-size: cover;
    background-attachment: fixed;
}
div#iphone{
    text-align: center;
    
}
div#botoes{
    text-align: right;
}
div#botoes > img{
    width: 50px;
}